.currency-card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;

.currency-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
} 


}

.currency-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.currency-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.currency-rate {
  color: #555;
}

.currency-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.currency-btn:hover {
  transform: scale(1.2);
}

.currency-btn.active {
  color: gold;
}
